<div class="pt-5" style="position: relative; top: 30px;">
	<div class="jumbotron text-center">
	  <h1 class="display-3">ДЯКУЄМО ЗА ПОКУПКУ!</h1>
	  <p class="lead"><strong>Перевірте ваш імейл</strong> для того щоб дізнатися як завершити покупку. Гарного дня!.</p>
	  <hr>
	  <p class="lead">
	    <a class="btn btn-outline-success btn-sm" href="/" role="button">Перейти на головну сторінку</a>
	  </p>
	</div>
</div>